{% extends 'base.html' %}

{% block title %} News {% endblock %}

{% block content %}
    <div class="row justify-content-center">
    {% for news in news_list %}
        <div class="col-5 col-md-4 col-lg-3 news">
            <div class="col-12 img">
                <a href="{{ news.slug }}"><img src={{ news.img.url }} alt="{{ news.title }}"></a>
            </div>
            <div class="col-12 descript">
                <h3><a href="{{ news.slug }}"> {{ news.title }} </a></h3>
                <p>{{ news.content }}</p>
            </div>
            <div class="col-12 tags">
                <p>
                    {% for tag in news.tags.all %}
                        <a href="{{ tag.slug }}">{{ tag }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
